@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-bebas-neue: 'Bebas Neue', sans-serif; /* Ensure Bebas Neue is defined */
  --font-poppins: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins); 
}

.font-bebas-neue {
  font-family: var(--font-bebas-neue);
}
